<launch>
	<group ns="racerParam">	
	  <rosparam file="$(find jetracer)/config/racerParams.yaml" />
	</group>

	<group ns="jetRacer_Car">
	  <node pkg="jetracer" name="jetracerCar" type="jetRacer_Car" />
	</group>

	<group ns="jetRacer_sensor">
	  <node pkg="jetsonSensorBoard" name="jetson_Board" type="jetsonSensorBoard" />
	</group>

</launch>
